[Desktop Entry]
Exec=osd-lyrics
Version=1.0
Name=OSD Lyrics
GenericName=Media Player
Comment=Download and display lyrics, support multiple media players
Comment[zh_CN]=支持多种播放器和自动下载歌词的桌面歌词秀
Icon=osd-lyrics
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Audio;Music;Player;X-Ximian-Main;X-Novell-Main;X-Red-Hat-Base;
MimeType=
X-Ubuntu-Gettext-Domain=osd-lyrics
